/********************************************
*
* video clips styles 
*
********************************************/

.clips {
  margin-top: 30px;
  border-top: 2px solid #27292a;
}

.clips .heading-section {
  margin-top: 30px;
}

.clips .item {
  border-radius: 20px;
  padding: 100px 15px;
  background-color: #27292a;
  margin-bottom: 30px;
}

.clips .item .thumb {
  position: relative;
  margin-bottom: 15px;
}

.clips .main-button {
  margin-top: 10px;
  text-align: center;
}

.clips .item .thumb button {
  position: absolute;
  left: 40%;
  top: 50%;
  width: 46px;
  height: 46px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 46px;
  color: #ec6090;
  border: none;
}
